.range_selector_dom {
  background: rgba(254, 132, 29, 0.2);
  border-left: 1px solid #fe841d;
  border-right: 1px solid #fe841d;
  position: absolute;
  top: 0;
  bottom: 16px;
  overflow: visible;
}

.range_selector_dom .left_handle,
.range_selector_dom .right_handle {
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #fe841d;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.3);
  box-sizing: border-box;
}

.range_selector_dom .left_handle {
  top: 40%;
  left: -10px;
}

.range_selector_dom .right_handle {
  top: 40%;
  right: -10px;
}
